<template name="bigActions">
  <!-- BEGIN DASHBOARD STATS -->
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat green">
        <div class="visual">
          <i class="fa fa-book"></i>
        </div>
        <div class="details">
          <div class="number">
             1349
          </div>
          <div class="desc">
             User Books
          </div>
        </div>
        <a class="more" href="#">
        Upload a book <i class="m-icon-swapright m-icon-white"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat blue">
        <div class="visual">
          <i class="fa fa-flask"></i>
        </div>
        <div class="details">
          <div class="number">
            549
          </div>
          <div class="desc">
            User Experiments
          </div>
        </div>
        <a class="more" href="#">
        Add new experiment <i class="m-icon-swapright m-icon-white"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat black">
        <div class="visual">
          <i class="fa fa-tags"></i>
        </div>
        <div class="details">
          <div class="number">
            125
          </div>
          <div class="desc">
            Tagged Book Collections
          </div>
        </div>
        <a class="more" href="#">
        View Tagged Collections <i class="m-icon-swapright m-icon-white"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat black">
        <div class="visual">
          <i class="fa fa-bar-chart-o"></i>
        </div>
        <div class="details">
          <div class="number">
            145.6M
          </div>
          <div class="desc">
            Total N-Grams
          </div>
        </div>
        <a class="more" href="#">
        View more <i class="m-icon-swapright m-icon-white"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- END DASHBOARD STATS -->
  <div class="clearfix"></div>
</template>