<!-- This template isn't currently used -->

<template name="breadcrumb">
  <!-- BEGIN PAGE HEADER-->
  <div class="row">
    <div class="col-md-12">
      
      <ul class="page-breadcrumb breadcrumb">
        <li>
          <i class="fa fa-home"></i>
          <a href="index.html">Home</a>
          <i class="fa fa-angle-right"></i>
        </li>
        <li>
          <a href="#">Dashboard</a>
        </li>
        <li class="pull-right">
          <div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
            <i class="fa fa-calendar"></i>
            <span>
            </span>
            <i class="fa fa-angle-down"></i>
          </div>
        </li>
      </ul>
      
    </div>
  </div>
  <!-- END PAGE HEADER-->
</template>