<!-- Not currently used -->

<template name="chartSmall">
  <div class="col-md-6 col-sm-6">
    <div class="portlet box blue">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-calendar"></i>Experiment Details
        </div>
        <div class="actions">
          <a href="javascript:;" class="btn btn-sm yellow easy-pie-chart-reload"><i class="fa fa-repeat"></i> Reload</a>
        </div>
      </div>
      <div class="portlet-body">
        <div class="row">
          <div class="col-md-4">
            <div class="easy-pie-chart">
              <div class="number transactions" data-percent="55">
                <span>
                  +55
                </span>
                %
              </div>
              <a class="title" href="#">Storage <i class="m-icon-swapright"></i></a>
            </div>
          </div>
          <div class="margin-bottom-10 visible-sm">
          </div>
          <div class="col-md-4">
            <div class="easy-pie-chart">
              <div class="number visits" data-percent="85">
                <span>
                  +85
                </span>
                %
              </div>
              <a class="title" href="#">Queued <i class="m-icon-swapright"></i></a>
            </div>
          </div>
          <div class="margin-bottom-10 visible-sm">
          </div>
          <div class="col-md-4">
            <div class="easy-pie-chart">
              <div class="number bounce" data-percent="46">
                <span>
                  6
                </span>
                %
              </div>
              <a class="title" href="#">Correlations <i class="m-icon-swapright"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6">
    <div class="portlet box blue">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-calendar"></i>Server Stats
        </div>
        <div class="tools">
          <a href="" class="collapse"></a>
          <a href="#portlet-config" data-toggle="modal" class="config"></a>
          <a href="" class="reload"></a>
          <a href="" class="remove"></a>
        </div>
      </div>
      <div class="portlet-body">
        <div class="row">
          <div class="col-md-4">
            <div class="sparkline-chart">
              <div class="number" id="sparkline_bar">
              </div>
              <a class="title" href="#">Network <i class="m-icon-swapright"></i></a>
            </div>
          </div>
          <div class="margin-bottom-10 visible-sm">
          </div>
          <div class="col-md-4">
            <div class="sparkline-chart">
              <div class="number" id="sparkline_bar2">
              </div>
              <a class="title" href="#">CPU Load <i class="m-icon-swapright"></i></a>
            </div>
          </div>
          <div class="margin-bottom-10 visible-sm">
          </div>
          <div class="col-md-4">
            <div class="sparkline-chart">
              <div class="number" id="sparkline_line">
              </div>
              <a class="title" href="#">Load Rate <i class="m-icon-swapright"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>