<template name="chart">
  <div class="col-md-6 col-sm-6">
    <!-- BEGIN PORTLET-->
    <div class="portlet solid bordered light-grey">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-bar-chart-o"></i>N-Gram Frequency
        </div>
        <div class="tools">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn default btn-sm active">
            <input type="radio" name="options" class="toggle" id="option1">Per Book </label>
            <label class="btn default btn-sm">
            <input type="radio" name="options" class="toggle" id="option2">Per Year </label>
          </div>
        </div>
      </div>
      <div class="portlet-body">
        <div id="site_statistics_loading">
          <img src="/assets/img/loading.gif" alt="loading"/>
        </div>
        <div id="site_statistics_content" class="display-none">
          <div id="site_statistics" class="chart">
          </div>
        </div>
      </div>
    </div>
    <!-- END PORTLET-->
  </div>

  <div class="col-md-6 col-sm-6">
    <!-- BEGIN PORTLET-->
    <div class="portlet solid light-grey bordered">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-bullhorn"></i>Activities
        </div>
        <div class="tools">
          <div class="btn-group pull-right" data-toggle="buttons">
            <a href="" class="btn blue btn-sm active">Users</a>
            <a href="" class="btn blue btn-sm">Experiments</a>
          </div>
        </div>
      </div>
      <div class="portlet-body">
        <div id="site_activities_loading">
          <img src="/assets/img/loading.gif" alt="loading"/>
        </div>
        <div id="site_activities_content" class="display-none">
          <div id="site_activities" style="height: 100px;">
          </div>
        </div>
      </div>
    </div>
    <!-- END PORTLET-->
    <!-- BEGIN PORTLET-->
    <div class="portlet solid bordered light-grey">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-signal"></i>Server Load
        </div>
        <div class="tools">
          <div class="btn-group pull-right" data-toggle="buttons">
            <a href="" class="btn red btn-sm active">Database</a>
            <a href="" class="btn red btn-sm">Web</a>
          </div>
        </div>
      </div>
      <div class="portlet-body">
        <div id="load_statistics_loading">
          <img src="/assets/img/loading.gif" alt="loading"/>
        </div>
        <div id="load_statistics_content" class="display-none">
          <div id="load_statistics" style="height: 108px;">
          </div>
        </div>
      </div>
    </div>
    <!-- END PORTLET-->
  </div>

</template>