<!-- Not currently used -->

<template name="chats">
  <div class="col-md-6 col-sm-6">
    <!-- BEGIN PORTLET-->
    <div class="portlet">
      <div class="portlet-title line">
        <div class="caption">
          <i class="fa fa-comments"></i>Chats
        </div>
        <div class="tools">
          <a href="" class="collapse"></a>
          <a href="#portlet-config" data-toggle="modal" class="config"></a>
          <a href="" class="reload"></a>
          <a href="" class="remove"></a>
        </div>
      </div>
      <div class="portlet-body" id="chats">
        <div class="scroller" style="height: 435px;" data-always-visible="1" data-rail-visible1="1">
          <ul class="chats">
            <li class="in">
              <img class="avatar img-responsive" alt="" src="/assets/img/avatar1.jpg"/>
              <div class="message">
                <span class="arrow">
                </span>
                <a href="#" class="name">Chris Johnson</a>
                <span class="datetime">
                  at Jul 25, 2012 11:09
                </span>
                <span class="body">
                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </span>
              </div>
            </li>
            <li class="out">
              <img class="avatar img-responsive" alt="" src="/assets/img/avatar2.jpg"/>
              <div class="message">
                <span class="arrow">
                </span>
                <a href="#" class="name">Lisa Wong</a>
                <span class="datetime">
                  at Jul 25, 2012 11:09
                </span>
                <span class="body">
                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </span>
              </div>
            </li>
            <li class="in">
              <img class="avatar img-responsive" alt="" src="/assets/img/avatar1.jpg"/>
              <div class="message">
                <span class="arrow">
                </span>
                <a href="#" class="name">Chris Johnson</a>
                <span class="datetime">
                  at Jul 25, 2012 11:09
                </span>
                <span class="body">
                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </span>
              </div>
            </li>
            <li class="out">
              <img class="avatar img-responsive" alt="" src="/assets/img/avatar3.jpg"/>
              <div class="message">
                <span class="arrow">
                </span>
                <a href="#" class="name">Richard Doe</a>
                <span class="datetime">
                  at Jul 25, 2012 11:09
                </span>
                <span class="body">
                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </span>
              </div>
            </li>
            <li class="in">
              <img class="avatar img-responsive" alt="" src="/assets/img/avatar3.jpg"/>
              <div class="message">
                <span class="arrow">
                </span>
                <a href="#" class="name">Richard Doe</a>
                <span class="datetime">
                  at Jul 25, 2012 11:09
                </span>
                <span class="body">
                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </span>
              </div>
            </li>
            <li class="out">
              <img class="avatar img-responsive" alt="" src="/assets/img/avatar1.jpg"/>
              <div class="message">
                <span class="arrow">
                </span>
                <a href="#" class="name">Chris Johnson</a>
                <span class="datetime">
                  at Jul 25, 2012 11:09
                </span>
                <span class="body">
                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </span>
              </div>
            </li>
            <li class="in">
              <img class="avatar img-responsive" alt="" src="/assets/img/avatar3.jpg"/>
              <div class="message">
                <span class="arrow">
                </span>
                <a href="#" class="name">Richard Doe</a>
                <span class="datetime">
                  at Jul 25, 2012 11:09
                </span>
                <span class="body">
                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </span>
              </div>
            </li>
            <li class="out">
              <img class="avatar img-responsive" alt="" src="/assets/img/avatar1.jpg"/>
              <div class="message">
                <span class="arrow">
                </span>
                <a href="#" class="name">Chris Johnson</a>
                <span class="datetime">
                  at Jul 25, 2012 11:09
                </span>
                <span class="body">
                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. sed diam nonummy nibh euismod tincidunt ut laoreet.
                </span>
              </div>
            </li>
          </ul>
        </div>
        <div class="chat-form">
          <div class="input-cont">
            <input class="form-control" type="text" placeholder="Type a message here..."/>
          </div>
          <div class="btn-cont">
            <span class="arrow">
            </span>
            <a href="" class="btn blue icn-only"><i class="fa fa-check icon-white"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- END PORTLET-->
  </div>
</template>