<template name="sidebar">
    <!-- BEGIN SIDEBAR -->
  <div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
      <!-- BEGIN SIDEBAR MENU -->
      <ul class="page-sidebar-menu">
        <li class="sidebar-toggler-wrapper">
          <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
          <div class="sidebar-toggler hidden-phone">
          </div>
          <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        </li>
        <li class="sidebar-search-wrapper">
          <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
          <form class="sidebar-search" action="#" method="POST">
            <div class="form-container">
              <div class="input-box">
                <a href="javascript:;" class="remove"></a>
                <input type="text" placeholder="Search..."/>
                <input type="button" class="submit" value=" "/>
              </div>
            </div>
          </form>
          <!-- END RESPONSIVE QUICK SEARCH FORM -->
        </li>
        <li class="start active ">
          <a href="index.html">
          <i class="fa fa-home"></i>
          <span class="title">
            Dashboard
          </span>
          <span class="selected">
          </span>
          </a>
        </li>
        <li class="">
          <a href="javascript:;">
          <i class="fa fa-flask"></i>
          <span class="title">
            Experiments
          </span>
          <span class="arrow ">
          </span>
          </a>
          <ul class="sub-menu">
            <li>
              <a href="#">
              <span class="badge badge-roundless badge-important">
                new
              </span>
              Spalding Frequency</a>
            </li>
            <li>
              <a href="#">
              <span class="badge badge-roundless badge-important">
                new
              </span>
              Jockers &amp; Criddle</a>
            </li>
            <li>
              <a href="#">
              Late War</a>
            </li>
            <li>
              <a href="#">
              New Testament</a>
            </li>
            <li>
              <a href="#">
              Koran 1822</a>
            </li>
            <li>
              <a href="#">
              1700s Test</a>
            </li>
            <li>
              <a href="#">
              <span class="badge badge-roundless badge-important">
                new
              </span>
              JRRT Test</a>
            </li>
            <li>
              <a href="#">
              American Revolution</a>
            </li>
            <li>
              <a href="#">
              <span class="badge badge-roundless badge-success">
                new
              </span>
              RT Test</a>
            </li>
          </ul>
        </li>
        <li class="">
          <a href="javascript:;">
          <i class="fa fa-sitemap"></i>
          <span class="title">
            Explore Relationships
          </span>
          <span class="arrow ">
          </span>
          </a>
          <ul class="sub-menu">
            <li>
              <a href="#">
              BOM vs All</a>
            </li>
            <li>
              <a href="#">
              Lord of the Rings</a>
            </li>
            <li>
              <a href="#">
              Spalding vs All</a>
            </li>
            <li>
              <a href="#">
              Browse 1800s</a>
            </li>
          </ul>
        </li>
        <li class="">
          <a href="javascript:;">
          <i class="fa fa-table"></i>
          <span class="title">
            My Bookshelf
          </span>
          <span class="arrow ">
          </span>
          </a>
          <ul class="sub-menu">
            <li>
              <a href="#">
              Collection 1</a>
            </li>
            <li>
              <a href="#">
              Collection 2</a>
            </li>
            <li>
              <a href="#">
              1800s Books</a>
            </li>
          </ul>
        </li>
        <li class="last ">
          <a href="#">
          <i class="fa fa-bar-chart-o"></i>
          <span class="title">
            Visual Charts
          </span>
          </a>
        </li>
        <li class="">
          <a href="javascript:;">
          <i class="fa fa-tags"></i>
          <span class="title">
            Tagged Collections
          </span>
          <span class="arrow ">
          </span>
          </a>
          <ul class="sub-menu">
            <li>
              <a href="#">
              Collection 1</a>
            </li>
            <li>
              <a href="#">
              Collection 2</a>
            </li>
            <li>
              <a href="#">
              1800s Books</a>
            </li>
          </ul>
        </li>
      </ul>
      <!-- END SIDEBAR MENU -->
    </div>
  </div>
  <!-- END SIDEBAR -->
</template>